.apps {
  /* text-align: center; */
  display: flex;
  flex-wrap: wrap;
  /* padding-top: 50px; */
  padding-left: 5%;
  padding-right: 5%;
}

.menu {
  background-color: white;
  height: 100vh;
  overflow: hidden;
  cursor: url(cursor.png), auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  /* font-weight: medium; */
}

a {
  cursor: url(cursor.png), pointer;
}

.github {
  height: 80%;
  width: 80%;
  margin: auto;
  color: #949495;
  transition: color ease-in .25s;
}

.github:hover {
  color: black;
}
