.apps {
  /* text-align: center; */
  display: flex;
  flex-wrap: wrap;
  /* padding-top: 50px; */
  padding-left: 5%;
  padding-right: 5%;
}

.menu {
  background-color: white;
  height: 100vh;
  overflow: hidden;
  cursor: url(cursor.png), auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  /* font-weight: medium; */
}
